/*

Style   : Le Sherwood Restaurant CSS
Version : 1.0
Author  : Sogofactory
URI     : http://sogofactory.com


*/

/* ================================================
   Global Styles
   ================================================ */

/* --- TITLE --- */

.page-header h3{
  font-size: 32px;
}
.special-slider .page-header:after,
.page-header:after{
    content: "";
    display: block;
    position: relative;
    height: 5px;
    width: 80px;
    background-color: transparent;
    border-top: 2px solid #f7b239;
    border-bottom: 1px solid #f7b239;
    margin: 0px auto;
}

/* --- BTN --- */
.btn-default{
    background-color: #870810;
    color: #fff;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.btn-default:hover{
    background-color: #ae0a15;
    color: #fff;
}

/* --- FONTS --- */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);

body{
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.menu .food-menu .menu-item .price,
.menu .food-menu .menu-item3 .price{
    font-family: "Raleway", sans-serif;
}
p{
    font-size: 17px;
}
.small, small{
    font-family: 'Roboto Condensed', sans-serif;
}

/* MARGIN */
.about{
    padding-bottom: 86px;
}

/* ================================================
   HEADER
   ================================================ */

/* ================================================
   Section #1 Video + Logo
   ================================================ */

#myvideo{
  opacity: 0.6;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { /* Correction marge Safari */
  #myvideo{
    margin-top: -50px;
  }
}
.logo a img{
    height: 280px
}
.home .tittle-block h1{
    font-size: 26px;
    margin-bottom: 0;
}
.home .tittle-block h2{
    font-size: 26px;
    margin-top: 10px;
}

/*.scroll-down a{ CSS CUSTOM - FORME DE BASE
    background-color: transparent;
    border: 2px solid #fff;
    width: 39px;
    height: 62px;
    padding: 15px 10px;
    font-size: 16px;
    color: #fff;
    border-radius: 100px;
    display: block;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

}*/
.home .scroll-down{
    bottom: 0;
}
.scroll-down a{
    background-color: rgba(0, 0, 0, 0.298039);
    width: 120px;
    height: auto;
    padding: 15px 10px;

    font-size: 16px;
    text-align: center;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
    display: block;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.scroll-down a:hover{
  background-color: #fff;
    color: #333;
}

/* ================================================
   Section - Events
   ================================================ */
.special{
    background: url('../img/Galerie/Le Sherwood - Piano Bar - Paris - Bar 4.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 80px;
}
.special-slider .slider-content p{
    font-size: 17px;
}
.special-slider .slider-content .page-header h4{
  text-align: left;
  font-size: 26px;
}
.special-slider .slider-content .page-header h4 small{
  text-align: left;
}

/* ================================================
   Section - Galerie
   ================================================ */
.gallery{
    background: #1b1e20 url('../img/Le Sherwood - Piano Bar - Paris - Flou 1.jpg') no-repeat center top;
    background-size: cover;
    padding-bottom: 0;
}
.gallery-content{
    padding: 0 0 88px 0;
}
.gallery-content .col-md-4,
.gallery-content .col-sm-6{
    padding-right: 5px;
    padding-left: 0px;
}
.gallery-item{
  margin-bottom: 5px;
}

/* ================================================
   Script
   ================================================ */

.menu-hover {
	color:#f9c56a !important;
}

