/*

Style   : Le Sherwood Restaurant CSS
Version : 1.0
Author  : Sogofactory
URI     : http://sogofactory.com


*/

/* ================================================
   Global Styles
   ================================================ */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
p{
  color: #fff;
}

/* --- LOADER --- */
.preloder{
    background: rgba(0, 0, 0, 1);
}
.preloder .scoket{
    position: relative;
    top: 45%;
    width: 40px;
    height: 40px;
    margin: auto;
}

/* --- TITLE --- */

.page-header h3{
  font-size: 32px;
}
.special-slider .page-header:after,
.page-header:after{
    content: "";
    display: block;
    position: relative;
    height: 5px;
    width: 80px;
    background-color: transparent;
    border-top: 2px solid #ffc115;
    border-bottom: 1px solid #ffc115;
    margin: 0px auto;
}

/* --- BTN --- */
.btn-default{
    background-color: #870810;
    color: #fff;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.btn-default:hover{
    background-color: #a30914;
    color: #fff;
}

/* --- FONTS --- */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);

body{
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.menu .food-menu .menu-item .price,
.menu .food-menu .menu-item3 .price{
    font-family: "Raleway", sans-serif;
}
p{
    font-size: 17px;
}
strong{
	font-weight: 700;
}
.small, small{
    font-family: 'Roboto Condensed', sans-serif;
}

/* MARGIN */
.about{
    padding-bottom: 86px;
}

/* DARK BACKGROUND */
.dark {
    background: #101112;
}
.dark small
.dark p,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h1 small,
.dark h2 small,
.dark h3 small,
.dark h4 small,
.dark h5 small,
.dark .service-content p {
  color: #FFF;
}

/* ================================================
   HEADER
   ================================================ */

.navbar .navbar-nav > li > a:hover,
.menu-hover {
  color:#ffc115 !important;
}
.navbar .navbar-brand{
  padding: 0px;
}
.navbar .navbar-brand img{
  display: inline-block;
  vertical-align: middle;
}
.navbar .navbar-brand span{
  color: #ECECEC;
  text-transform: uppercase;
  padding: 25px 15px 25px 5px;
  font-weight: 700;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  transition: all 0.5s ease;
  display: inline-block;
  vertical-align: middle;
}

/* ================================================
   Section #1 Video + Logo
   ================================================ */

#myvideo{
  opacity: 0.6;
}
.logo a img{
    height: 280px
}
.home .tittle-block h1{
    font-size: 66px;
    margin-bottom: 0;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
}
.home .tittle-block h2{
    font-size: 26px;
    margin-top: 10px;
}

/*.scroll-down a{ CSS CUSTOM - FORME DE BASE
    background-color: transparent;
    border: 2px solid #fff;
    width: 39px;
    height: 62px;
    padding: 15px 10px;
    font-size: 16px;
    color: #fff;
    border-radius: 100px;
    display: block;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

}*/
.home .scroll-down{
    bottom: 0;
}
.scroll-down a{
    background-color: rgba(0, 0, 0, 0.298039);
    width: 120px;
    height: auto;
    padding: 15px 10px;

    font-size: 16px;
    text-align: center;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
    display: block;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.scroll-down a:hover{
  background-color: #fff;
    color: #333;
}

/* ================================================
   Section - Le Restaurant
   ================================================ */

/* ================================================
   Section - Galerie
   ================================================ */
.gallery{
    background: #1b1e20 url('../img/Le Sherwood - Piano Bar - Paris - Flou 2.jpg') no-repeat center top;
    background-size: cover;
    padding-bottom: 0;
}
.gallery .page-header h3{
    margin-bottom: 30px;
}

.gallery-content{
    padding: 0 0 88px 0;
}
.gallery-content .col-md-4,
.gallery-content .col-sm-6{
    padding-right: 5px;
    padding-left: 0px;
}
.gallery-item{
  margin-bottom: 5px;
}

/* ================================================
   Section - La Carte
   ================================================ */
.menu .food-menu .menu-item h4{
  font-size: 17px;
  text-transform: none;
  font-family: 'Roboto Condensed', sans-serif;
}
.menu .food-menu .menu-item p{
  font-size: 16px;
  font-style: italic;
  font-family: 'Roboto Condensed', sans-serif;
}
.menu .food-menu .menu-item h4,
.menu .food-menu .menu-item3 h4,
.menu .food-menu .menu-item .price,
.menu .food-menu .menu-item3 .price{
    background: #101112;
}
.menu .food-menu .menu-item .price,
.menu .food-menu .menu-item3 .price{
  color: #fff;
}
.menu .food-menu .menu-item,
.menu .food-menu .menu-item3{
  border-left: 0;
}
.menu-tags .tagsort-active,
.menu-tags2 .tagsort2-active,
.menu-tags3 .tagsort3-active,
.menu-tags4 .tagsort4-active{
  color: #fff;
  border-bottom: 3px solid #ffc115;
}
/* ================================================
   Section - Video
   ================================================ */
.videoSection{
  position: relative;
  display: block;
  box-sizing: border-box;

  height: 56.25vw;
  min-height: 100%;
  min-width: 100%;
}

/* ================================================
   Section - Services
   ================================================ */
.services-slider .slick-dots li button{
    background: rgba(255, 255, 255, 0.07);
}
.services-slider .slick-dots li.slick-active button{
  border: solid 2px #ffc115;
}
.services-slider .slick-dots li.slick-active button:before{
  background:#ffc115;
}

/* ================================================
   Section - Events
   ================================================ */
.special{
    background: url('../img/Le Sherwood - Piano Bar - Paris - Flou 3.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 80px;
}
.special-slider .slider-content{
    padding: 30px;
}
.special-slider .slider-content p{
    font-size: 17px;
}
.special-slider .slider-content .page-header{
    margin: 0;
}
.special-slider .slider-content .page-header h4{
  text-align: left;
  font-size: 26px;
}
.special-slider .slider-content .page-header h4 small{
  text-align: left;
}
.special-slider .slider-content .page-header:after{
  display: none;
}
.special-slider .slider-content .btn{
	margin: 30px 10px 30px 0px;
}

/* ================================================
   Section - Testimony
   ================================================ */
.trusted .trusted-quote{
    background: url('../img/Le Sherwood - Piano Bar - Paris - Flou 3.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 80px;
}
.trusted-quote .quote-body{
  color: #fff;
  margin: 20px 0px;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
}
.trusted-quote .quote-author{
  color: #fff;
  margin: 20px 0px;
  font-size: 18px;
}
.trusted .slick-dots li button:before{

}
.trusted-slider .slick-dots li{
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 0px 4px;
  padding: 0px;
  cursor: pointer;
}
.trusted-slider .slick-dots li.slick-active{
  background-color: transparent;
}
.trusted-slider .slick-dots li.slick-active button{
background-color: transparent;
border: solid 2px #f9c56a;
}
.trusted-slider .slick-dots li button:before{
font-size: 0;
}
.trusted-slider .slick-dots li.slick-active button:before{
  opacity: 1;
  background: #f9c56a;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 999;
  font-size: 0;
}
.trusted-slider .slick-dots li button{
  font-size: 0px;
  line-height: 0;
  display: table;
  width: 17px;
  height: 17px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 0px none;
  outline: medium none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
/* ================================================
   Section - Contact
   ================================================ */
.contact-info p{
  color: #fff;
}

/* SOCIAL BTN */
.contact-social a{
	display: inline-block;
	background-color: #262526;
	color: #FFF;
	padding: 0 0 0 0;
	font-size: 16px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 10%;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.contact-social a:hover{
	color: #FFF;
}
.contact-social .facebook{
	background-color:#3b5998;
	border: 1px solid #3b5998;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.contact-social .facebook:hover{
	background-color: #31497d;
	border: 1px solid #fff;
}
.contact-social .twitter{
	background-color:#4099FF;
	border: 1px solid #4099FF;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.contact-social .twitter:hover{
	background-color: #357ed2;
	border: 1px solid #fff;
}
.contact-social .instagram{
	background-color:#3f729b;
	border: 1px solid #3f729b;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.contact-social .instagram:hover{
	background-color: #2d516f;
	border: 1px solid #fff;
}
iframe {
    box-sizing: border-box;
    height: 56.25vw;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    width: 177.77777778vh;
}

.scroll-down .scroll-up a:hover {
    background-color: #fff;
    color: #333;
}

.scroll-up {
	position: fixed;
  bottom: 0;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 60px;
  height: auto;
  padding: 15px 10px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border-radius: 5px 5px 0px 0px;
  display: block;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  z-index: 10000;
}

.scroll-up-fix {
	position: absolute;
	right: 20px;
  background-color: #1c1c1e;
	width: 60px;
	height: auto;
	padding: 15px 10px;
	font-size: 16px;
	text-align: center;
  cursor: pointer;
	color: #fff;
	border-radius: 5px 5px 0px 0px;
	display: block;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	z-index:10000;
}
.footer-address .fa{
  color:#ffc115;
}

/* ================================================
   Footer
   ================================================ */
.footer .footer-copyrights p{
  margin: 30px 0px;
  color: rgba(255, 255, 255, 0.25);
  font-size: 13px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}
.footer a{
  color: rgba(255, 255, 255, 0.35);
  text-decoration: none;

  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.footer .primary-color{
  color: rgba(255, 255, 255, 0.35);

  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.footer:hover p a,
.footer:hover p .primary-color{
  color:#ffc115 !important;
}
