/*

Style   : Le Sherwood Restaurant CSS
Version : 1.0
Author  : Sogofactory
URI     : http://sogofactory.com


*/

/* ================================================
   Global Styles
   ================================================ */

/* ================================================
   HEADER
   ================================================ */

.navbar .navbar-brand{
    padding: 13px 0;
}
.navbar .navbar-brand img{
    height: 44px;
}

/* ================================================
   Section #1 Video + Logo
   ================================================ */

.logo a img{
    height: 280px
}

/* ================================================
   Section - Events
   ================================================ */
.special{
    background: url('../img/Galerie/Le Sherwood - Piano Bar - Paris - Bar 4.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 80px;
}